/* start global */
:root
{
    --main-color: #ff5400;
    --main-color-alt: #993300;
    --section-background: #000;
    --color-dark: #272727;
    --color-light: #909090;
    --section-padding: 60px;
    --main-transition: 0.4s;
    --main-line-height: 1.5;
}
body
{
    font-family: 'Poppins', sans-serif;
}
    /* start scrollbar */
    ::-webkit-scrollbar
    {
        width: 10px;
    }
    ::-webkit-scrollbar-track
    {
        background-color: #1a1a1a;
    }
    ::-webkit-scrollbar-thumb
    {
        background-color: var(--main-color);
        border-radius: 70px;
    }
    ::-webkit-scrollbar-thumb:hover
    {
        background-color: var(--main-color-alt);
    }
        /* end scrollbar */
    /* end global */
    /* start header */
.header
{
    background: rgba(0,0,0,85%);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    position: relative;
    border-bottom: 2px solid white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.header .toggle-menu
{
    font-size: 30px;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    transition: var(--main-transition);
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .logo
{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95px;
    width: 90px;
    background-color: white;
    cursor: pointer;
    clip-path: polygon(50% 10%, 90% 30%, 90% 70%, 50% 90%, 10% 70%, 10% 30%)
}
.header .logo2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 85px;
    background-color: black;
    clip-path: polygon(50% 10%, 90% 30%, 90% 70%, 50% 90%, 10% 70%, 10% 30%)
} 
.header .logo3
{
    font-weight: 800;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: rotate 1.5s ease-out infinite;
}
@keyframes rotate {
    0%
    {
        transform: rotate(0deg);
    }
    30%
    {
        transform: rotate(-45deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.header .links1,
.header .links2
{
    display: flex;
    padding: 10px 0;
}

.header .links1 li,
.header .links2 li
{
    transition: var(--main-transition);
    position: relative;
}
.header .links2 li:hover .mega-menu
{
    visibility: visible;
    opacity: 1;
    z-index: 100;
    top: 100%;
}
.header .links1 > li > a:hover,
.header .links2 > li > a:hover
{
    background-color: #383838;
    color: var(--main-color);
}
.header .links1 li a,
.header .links2 li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    overflow: hidden;
    transition: var(--main-transition);
}
.header ul li a::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .links1 > li > a:hover::before,
.header .links2 > li > a:hover::before
{
    left: 0;
}
.header .links2  li i
{
    margin-left: 5px;
    transition: var(--main-transition);
}
.header .links2 .mega-menu
{
    position: absolute;
    background-color: #383838;
    border-bottom: 3px solid var(--main-color);
    top: calc(100% + 50px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-transition);
}
.header .links2 .mega-menu .sec-menu
{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 190px;
}
.header .links2 .mega-menu .sec-menu li
{
    position: relative;
    min-width: 170px;
}
.header .links2 .mega-menu .sec-menu li:not(:last-child)
{
    border-bottom: 1px solid rgb(90, 90, 90);
}
.header .links2 .mega-menu .sec-menu li i
{
    padding: 0;
    margin: 0 5px 0 0;
}
.header .links2 .mega-menu .sec-menu li img
{
    width: 15px;
    padding: 0;
    margin: 0 5px 0 0;
}
.header .links2 .mega-menu .sec-menu a
{
    color: white;
    display: block;
    font-size: 14px;
    transition: 0.3s;
}
.header .links2 .mega-menu .sec-menu a:hover
{
    margin-left: 8px;
}

@media (min-width: 1200px)
{
    .header .toggle-menu
    {
        display: none;
    }
}
@media (max-width: 1199px)
{
    .header  .links1,
    .header  .links2
    {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 95%);
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header  .links1
    {
        top: 73px;
    }
    .header  .links2
    {
        top: 320px;
        padding-top: 0;
        border-bottom: 3px solid var(--main-color)
    }
    .header .links1 li,
    .header .links2 li:not(:last-child)
    {
        border-bottom: 1px solid rgb(90, 90, 90);
    }
    .header .links1 > li > a:hover::before,
    .header .links2 > li > a:hover::before
    {
        display: none;
    }
    .header .links2 .mega-menu
    {
        left: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 190px;
        background: rgba(0,0,0,99%);
    }
    .header .links2 .mega-typs-menu
    {
        left: 100%;
    }
    .header .links2 li:hover .mega-platform-menu
    {
        top: 0%;
    }
    .header .links2 li:hover .mega-typs-menu
    {
        top: -300%;
    }
    .header .links2 li:hover .icon
    {
        transform: rotate(-90deg);
    }
    .header .toggle-menu.active
    {
        color: var(--main-color);
    }
    .header .toggle-menu ~ ul
    {
        display: none;
    }
    .header .toggle-menu.active ~ ul
    {
        display: flex;
    }
}
/* end header */
/* start language btn */
.lang-btn
{
    position: absolute;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    background-color: black;
    border: 0.5px solid #6e6e6e;
    top: 15px;
    right: 30px;
    position: fixed;
    z-index: 5;
}
.lang-btn:after
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.lang-btn:hover:after
{
    left: 100%;
}
.lang-btn span
{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}
.lang-btn span:nth-child(1)
{
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
.lang-btn:hover span:nth-child(1)
{
    width: 100%;
    transform: translateX(100%);
}
.lang-btn span:nth-child(3)
{
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
.lang-btn:hover span:nth-child(3)
{
    width: 100%;
    transform: translateX(-100%);
}
.lang-btn span:nth-child(2)
{
    top: 0;
    left: 0;
    width: 1px;
    height: 0x;
    background: #fff;
}
.lang-btn:hover span:nth-child(2)
{
    height: 100%;
    transform: translateY(100%);
}
.lang-btn span:nth-child(4)
{
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0x;
    background: #fff;
}
.lang-btn:hover span:nth-child(4)
{
    height: 100%;
    transform: translateY(-100%);
}
@media (max-width: 767px) 
{
    .lang-btn
    {
        padding: 5px 15px;
        right: 20px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px)
{
    .lang-btn
    {
        top: 90px;
    }
}
/* end language btn */

/* start landing */
.landing
{
    position: relative;
}
.landing .land img
{
    width: 100%;
    object-fit: cover;
    position: relative;
    background-size: cover;
    overflow: hidden;
}
.landing .land::after
{
    content: "";
    clip-path: polygon(0 100%,100% 100%,0 0);
    background-color: var(--color-dark);
    height: 150px;
    max-width: 1920px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    
}
@media (max-width: 767px){
    .landing .land::after{
        height: 40px;
    }
}
/* end landing */
/* start content */
.content{
    background-color: var(--color-dark);
    position: relative;
    top: -4px;
}
.content .up{
    position: relative;
    top: -200px;
}
.content .up .box{
    display: flex;
    justify-content: space-between;
}
.content .up .box picture{
    width: 50%;
    height: 326px;
}
.content .up .box picture img{
    border-radius: 20px;
    width: 100%;
}
.content .up .box .info{
    backdrop-filter: blur(60px) saturate(100%);
    background-color: rgba(39,39,39,.15);
    background-image: linear-gradient(1turn,var(--color-dark),rgba(39,39,39,0) 43%);
    width: 45%;
    border-radius: 20px;
    height: 326px;
    color: white;
    padding: 20px;
    z-index: 1;
}
.content .up .box .info .name{
    text-align: center;
    font-size: 30px;
}
.content .box .info .platforms{
    background-color: rgba(16,16,16,.3);
    padding: 7px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 100px;
    margin-top: 20px;
    min-height: 50px;
}
.content .box .info .platforms img{
    width: 100px;
    margin-right: 20px;
    transition: calc(var(--main-transition) - 0.2s );
}
.content .box .info .platforms img:hover{
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}
.content .box .info .platforms .psthree{
    width: 83px;
}
.content .up .box .info .pegi{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.content .up .box .info .pegi-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .up .box .info .pegi-info img{
    margin-left: 10px;
}
.content .up .box .info .pegi img{
    width: 90px;
}
@media (max-width: 991px){
    .content .up{
        top: -150px;
    }
    .content .up .box{
        flex-direction: column;
        align-items: center;
    }
    .content .up .box picture{
        width: 70%;
    }
    .content .up .box .info{
        width: 70%
    }
}
@media (max-width: 767px){
    .content .up{
        top: -10px;
    }
    .content .up .box picture{
        width: 90%;
        height: 200px;
    }
    .content .up .box .info{
        width: 90%;
        height: 250px;
    }
    .content .box .info .platforms img{
        width: 60px;
        margin-right: 20px
    }
    .content .box .info .platforms .psthree{
        width: 56px;
    }
    .content .up .box .info .pegi{
        margin-top: 30px;
    }
    .content .up .box .info .pegi img{
        width: 40px;
    }
}
/* end content */
/* start talking */
.talking{
    padding-bottom: var(--section-padding);
    background-color: var(--color-dark);
    position: relative;
    top: -90px;
}
.talking .up{
    display: flex;
    justify-content: space-between;
}
.talking .up .about-the-game{
    width: 50%;
}
.talking .up .about-the-game h2{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}
.talking .up .about-the-game p{
    color: var(--color-light);
}
.talking .up .infoo{
    position: relative;
    top: 24px;
    width: 40%; 
    line-height: 2;
    color: var(--color-light);
}
.talking .up .infoo span{
    color: var(--main-color);
}
@media (max-width: 991px){
    .talking{
        padding-top: var(--section-padding);
    }
}
@media (max-width: 767px){
    .talking{
        top: -5px;
    }
    .talking .up{
        flex-direction: column;
        align-items: center;
    }
    .talking .up .about-the-game{
        width: 90%;
        text-align: center;
    }
    .talking .up .about-the-game p{
        margin-bottom: 20px;
    }
    .talking .up .infoo{
        width: 90%;
    }
}
/* end talking */
/* start preview */
.preview{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--color-dark);
    position: relative;
    top: -90px;
}
.preview h2{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}
.preview .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.preview iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.preview .screenshots{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.preview .screenshots .pic{
    width: 49%;
    position: relative;
}
.preview .screenshots .pic .img-1{
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.preview .screenshots .photos{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 15px;
}
.preview .screenshots .photos > img{
    border-radius: 15px;
}
@media (max-width: 1200px){
    .preview .screenshots{
        flex-direction: column;
    }
    .preview .screenshots .pic{
        width: 100%;
        margin-bottom: 15px;
    }
    .preview .screenshots .pic .img-1{
        position: relative;
    }
    .preview .screenshots .photos{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 767px){
    .preview{
        top: -10px;
    }
    .preview .screenshots .photos > img{
        width: 120px;
    }
}
/* end preview */
/* start footer */
.footer
{
    padding-top: var(--section-padding);
    background-color: rgb(25, 25, 25);
    position: relative;
}
.footer::before{
    content: "";
    position: absolute;
    top: -95px;
    left: 0;
    background-color: var(--color-dark);
    width: 100%;
    height: 102px;
}
.footer .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .container h2
{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: -3px;
    color: white;
}
.footer .container h2 i
{
    font-size: 15px;
    padding: 0 5px;
    transform: translate(0px, -5px);
    color: var(--main-color)
}
.footer .container h2 span
{
    color: var(--main-color);
}
.footer .footer-links
{
    display: flex;
    margin-top: 20px;
}
.footer .footer-links li
{
    margin-right: 10px;
}
.footer .footer-links li a
{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .footer-links li .facebook:hover
{
    color: #3b5998;
}
.footer .footer-links li .instagram:hover
{
    color: #bc2a8d;
}
.footer .footer-links li .twitter:hover
{
    color: #55acee;
}
.footer .footer-links li .youtube:hover
{
    color: #ff0000;
}
.footer .footer-links li .whatsapp:hover
{
    color: #128c7e;
}
.footer .copyright
{
    padding: 25px 0 ;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
.footer .copyright span
{
    color: var(--main-color);
}
@media (max-width: 767px){
    .footer::before{
        top: -50px;
        height: 50px;
    }
}
/* end footer */
/*start up-btn*/
.up-btn
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    bottom: 50px;
    right: -50px;
    z-index: 1;
    transition: calc(var(--main-transition) - 0.2s);
}
.up-btn i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
.up-btn:hover
{
    background-color: var(--main-color-alt);
}
@media(max-width: 767px)
{
    .up-btn
    {
        right: -50px;
        border: 0.5px solid white;
    }
}
.up-btn.show{
    right: 50px;
}
@media(max-width: 767px)
{
    .up-btn.show
    {
        right: 30px;
    }
}
/*end up-btn*/
/* start loading */
.loading
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #140429;
    position: fixed;
    z-index: 100;
}
.loading .loadd
{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.loading h4
{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/* end loading */