/* start global */
:root
{
    --main-color: #00E638;
    --main-color-alt: #00e638b3;
    --section-background: #010203;
    --section-padding: 60px;
    --main-transition: 0.4s;
    --main-line-height: 1.5;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.main-title
{
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before
{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after
{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::before
{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after
{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover
{
    color: black;
    border: 2px solid black;
    transition-delay: 0.5s;
}
@keyframes left-move
{
    50%
    {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%
    {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move
{
    50%
    {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%
    {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
    /* start scrollbar */
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--main-color);
    border-radius: 70px;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: var(--main-color-alt);
}
    /* end scrollbar */
    
/* end global */
/* start header */
.header
{
    background: rgba(0,0,0,85%);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    position: relative;
    border-bottom: 2px solid white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.header .toggle-menu
{
    font-size: 30px;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    transition: var(--main-transition);
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .logo
{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95px;
    width: 90px;
    background-color: white;
    cursor: pointer;
    clip-path: polygon(50% 10%, 90% 30%, 90% 70%, 50% 90%, 10% 70%, 10% 30%)
}
.header .logo2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 85px;
    background-color: black;
    clip-path: polygon(50% 10%, 90% 30%, 90% 70%, 50% 90%, 10% 70%, 10% 30%)
} 
.header .logo3
{
    font-weight: 800;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: rotate 1.5s ease-out infinite;
}
@keyframes rotate {
    0%
    {
        transform: rotate(0deg);
    }
    30%
    {
        transform: rotate(-45deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.header .links1,
.header .links2
{
    display: flex;
    padding: 10px 0;
}

.header .links1 li,
.header .links2 li
{
    transition: var(--main-transition);
    position: relative;
}
.header .links2 li:hover .mega-menu
{
    visibility: visible;
    opacity: 1;
    z-index: 100;
    top: 100%;
}
.header .links1 > li > a:hover,
.header .links2 > li > a:hover
{
    background-color: #383838;
    color: var(--main-color);
}
.header .links1 li a,
.header .links2 li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    overflow: hidden;
    transition: var(--main-transition);
}
.header ul li a::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .links1 > li > a:hover::before,
.header .links2 > li > a:hover::before
{
    left: 0;
}
.header .links2  li i
{
    margin-left: 5px;
    transition: var(--main-transition);
}
.header .links2 .mega-menu
{
    position: absolute;
    background-color: #383838;
    border-bottom: 3px solid var(--main-color);
    top: calc(100% + 50px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-transition);
}
.header .links2 .mega-menu .sec-menu
{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 190px;
}
.header .links2 .mega-menu .sec-menu li
{
    position: relative;
    min-width: 170px;
}
.header .links2 .mega-menu .sec-menu li:not(:last-child)
{
    border-bottom: 1px solid rgb(90, 90, 90);
}
.header .links2 .mega-menu .sec-menu li i
{
    padding: 0;
    margin: 0 5px 0 0;
}
.header .links2 .mega-menu .sec-menu li img
{
    width: 15px;
    padding: 0;
    margin: 0 5px 0 0;
}
.header .links2 .mega-menu .sec-menu a
{
    color: white;
    display: block;
    font-size: 14px;
    transition: 0.3s;
}
.header .links2 .mega-menu .sec-menu a:hover
{
    margin-left: 8px;
}

@media (min-width: 1200px)
{
    .header .toggle-menu
    {
        display: none;
    }
}
@media (max-width: 1199px)
{
    .header  .links1,
    .header  .links2
    {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 95%);
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header  .links1
    {
        top: 73px;
    }
    .header  .links2
    {
        top: 320px;
        padding-top: 0;
        border-bottom: 3px solid var(--main-color)
    }
    .header .links1 li,
    .header .links2 li:not(:last-child)
    {
        border-bottom: 1px solid rgb(90, 90, 90);
    }
    .header .links1 > li > a:hover::before,
    .header .links2 > li > a:hover::before
    {
        display: none;
    }
    .header .links2 .mega-menu
    {
        left: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 190px;
        background: rgba(0,0,0,99%);
    }
    .header .links2 .mega-typs-menu
    {
        left: 100%;
    }
    .header .links2 li:hover .mega-platform-menu
    {
        top: 0%;
    }
    .header .links2 li:hover .mega-typs-menu
    {
        top: -300%;
    }
    .header .links2 li:hover .icon
    {
        transform: rotate(-90deg);
    }
    .header .toggle-menu.active
    {
        color: var(--main-color);
    }
    .header .toggle-menu ~ ul
    {
        display: none;
    }
    .header .toggle-menu.active ~ ul
    {
        display: flex;
    }
}
/* end header */
/* start language btn */
.lang-btn
{
    position: absolute;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    background-color: black;
    border: 0.5px solid #6e6e6e;
    top: 15px;
    right: 30px;
    position: fixed;
    z-index: 5;
}
.lang-btn:after
{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.lang-btn:hover:after
{
    left: 100%;
}
.lang-btn span
{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}
.lang-btn span:nth-child(1)
{
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
.lang-btn:hover span:nth-child(1)
{
    width: 100%;
    transform: translateX(100%);
}
.lang-btn span:nth-child(3)
{
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
.lang-btn:hover span:nth-child(3)
{
    width: 100%;
    transform: translateX(-100%);
}
.lang-btn span:nth-child(2)
{
    top: 0;
    left: 0;
    width: 1px;
    height: 0x;
    background: #fff;
}
.lang-btn:hover span:nth-child(2)
{
    height: 100%;
    transform: translateY(100%);
}
.lang-btn span:nth-child(4)
{
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0x;
    background: #fff;
}
.lang-btn:hover span:nth-child(4)
{
    height: 100%;
    transform: translateY(-100%);
}
@media (max-width: 767px) 
{
    .lang-btn
    {
        padding: 5px 15px;
        right: 20px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px)
{
    .lang-btn
    {
        top: 90px;
    }
}
/* end language btn */
/* start landing */
.landing
{
    position: relative;
}
.landing::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 75%);
}
.landing video
{
    /* width: 100%; */
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.landing .text
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
}
.landing .text h2
{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: -3px;
}
.landing .text h2 i
{
    font-size: 18px;
    padding: 0 5px;
    transform: translate(0px, -5px);
    color: var(--main-color)
}
.landing .text h2 span
{
    color: var(--main-color);
}
.landing .text p 
{
    font-size: 60px;
    font-weight: bold;
    line-height: 0.9;
}
@media (max-width: 767px) 
{
    .landing .text h2
    {
        font-size: 25px;
    }
    .landing .text h2 i
    {
        font-size: 10px;
    }
    .landing .text p 
    {
        font-size: 35px;
    }
}
/*end landing*/
/*start features*/
.features
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat
{
    padding: 20px;
    text-align: center;
}
.features .feat i
{
    color: var(--main-color);
    font-size: 45px;
}
.features .feat h3
{
    font-weight: 800px;
    margin: 30px;
    color: white;
}
.features .feat p
{
    line-height: var(--main-line-height);
    color: #999;
    font-size: 17px;
}
/*end features*/
/* start about */
.about
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    overflow: hidden;
    text-align: center;
}
.about .abooout{
    display: flex;
}
.about p
{
    color: white;
    text-align: center;
    line-height: var(--main-line-height);
    font-size: 18px;
}
.about img
{
    position: relative;
    bottom: -155px;
    margin-top: -100px;
    max-width: 100%;
    width: 650px;
}
@media (max-width: 767px)
{
    .about img
    {
        bottom: -100px;
        margin-top: -70px;
        /* margin-left: 0; */
    }
}
/* end about */
/* start quote */
.quote
{
    padding-top: calc(var(--section-padding) + 30px);
    padding-bottom: calc(var(--section-padding) + 30px);
    background-image: url(../imgs/qoute.webp);
    background-size: cover;
    text-align: center;
    position: relative;
}
.quote::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 70%);
}
.quote .container
{
    position: relative;
}
.quote q
{
    color: white;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}
.quote q::before
{
    font-family: 'Font Awesome 5 Free';
    content: '\f10d';
    font-weight: 900;
    position: relative;
    top: -8px;
    padding-right: 10px;
}
.quote q::after
{
    font-family: 'Font Awesome 5 Free';
    content: '\f10e';
    font-weight: 900;
    position: relative;
    top: -8px;
    padding-left: 10px;
}
/* end quote */
/* start events */
.events
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.events .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.events .card
{
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #1a1a1a;
    margin: 30px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px #b8b8b866;
    transition: calc(var(--main-transition) - 0.2s) ease-in-out;
}
.events .card:hover
{
    height: 430px;
}
.events .card .imgbox
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    transition: calc(var(--main-transition) - 0.2s);
}
.events .card .imgbox img
{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.events .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: calc(var(--main-transition) - 0.1s) ease-in-out;
}
.events .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.events .card .content h2
{
    color: white;
    padding-bottom: 5px;
}
.events .card .content p
{
    color: #bbb;
}
@media(max-width: 767px)
{
    .events .card
    {
        margin: 30px auto;
    }
}
/* end events */
/* start team */
.team
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}
/*start decoration in team */
.team .text{
    position: absolute;
    opacity: 0.5;
}
.team .text h2{
    font-weight: bold;
    font-size: 70px;
    letter-spacing: -3px;
    color: white;
}
.team .text i{
    font-size: 25px;
    transform: translate(0px, -5px);
    color: var(--main-color);
}
.team .text span{
    color: var(--main-color);
}
.team .text-top{
    top: 30%;
    right: -77px;
    transform: rotate(90deg);
}
.team .text-bottom{
    bottom: 20%;
    left: -80px;
    transform: rotate(-90deg);
}
@media (max-width: 1500px){
    .team .text{
        display: none;
    }
}
/* end decoration in team */
.team .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
}
.team .box
{
    padding: 20px;
    background-color: #242424e6;
    box-shadow: -3px 3px 5px rgb(255, 255, 255, 70%);
    border-radius: 10px;
    position: relative;
    counter-increment: team;
    transition: var(--main-transition);
    z-index: 1;
}
.team .box::before
{
    content: '0' counter(team);
    position: absolute;
    background-color: #333;
    color: var(--main-color);
    right: 0;
    bottom: 0;
    height: 20%;
    width: 50px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
}
.team .box:hover
{
    transform: translateY(-10px);
    box-shadow: -4px 4px 8px rgb(255, 255, 255, 90%);
}
.team .box img
{
    position: absolute;
    right: -10px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid black;
}
.team .box h3
{
    margin: 0 0 10px;
    color: var(--main-color-alt);
}
.team .box .title
{
    color: white;
    margin-bottom: 10px;
    display: block;
}
.team .box p
{
    line-height: var(--main-line-height);
    color: #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* end team */
/* start contact */
.contact
{
    padding-top: calc(var(--section-padding) + 60px);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .content
{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px)
{
    .contact .content
    {
        flex-direction: column;
    }
}
.contact .content form
{
    flex-basis: 70%;
}
.contact .content form .main-input
{
    padding: 20px;
    display: block;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 30px;
    caret-color: var(--main-color);
    background-color: #b4b4b4;
    font-weight: bold;
}
.contact .content form .main-input:focus
{
    outline: none;
}
.contact .content form .main-input::placeholder
{
    color: #202020;
}
.contact .content form textarea.main-input
{
    height: 200px;
}
.contact .content form input[type='submit']
{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.contact .content form input[type='submit']:hover
{
    background-color: var(--main-color-alt);
}

.rating
{
    position: relative;
    display: flex;
    flex-direction: row;
}
.rating .text
{
    position: absolute;
    top: 7px;
    left: 0%;
    color: white;
    font-weight: 500;
    white-space: nowrap;
    font-size: 18px;
    text-transform: uppercase;
}
.rating input
{
    display: none;
}
.rating label
{
    position: relative;
    height: 80px;
    cursor: pointer;
    transition: var(--main-transition);
    filter: grayscale(1);
    text-align: center;
    opacity: 0.5;
    margin-top: 30px;
    left: 35%;
    top: -50px;
    width: 90px;
}
.rating label img
{
    width: 80px;
}
.rating input:hover + label,
.rating input:checked + label
{
    filter: grayscale(0);
    opacity: 1;
}
.rating label h4
{
    color: white;
    font-size: 22px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: var(--main-transition);
}
.rating input:hover + label h4,
.rating input:checked + label h4
{
    opacity: 1;
    transform: translateY(0) scale(1);
}
@media (max-width: 991px)
{
    .rating label
    {
        margin-top: 80px;
        left: 10%;
    }
}
@media (max-width: 767px)
{
    .rating label
    {
        left: 0;
        margin-top: 100px;
    }
    .rating label img
    {
        width: 50px;
    }
    .rating label h4
    {
        font-size: 10px;
    }
}

.contact .content .info
{
    flex-basis: 25%;
}
@media (max-width: 767px)
{
    .contact .content .info
    {
        order: -1; /*to make the info in mobile comes first.'before the inputs'*/
        text-align: center;
    }
}
.contact .content .info h4
{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.contact .content .info .phone
{
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2)
{
    margin-top: 90px;
}
@media (max-width: 767px)
{
    .contact .content .info h4:nth-of-type(2)
    {
    margin-top: 30px;
    }
}
.contact .content .info address
{
    color: #777;
    line-height: 2;
}
@media (max-width: 767px)
{
    .contact .content .info address
    {
        margin-bottom: 30px;
    }
}
/* end contact */
/* start footer */
.footer
{
    padding-top: var(--section-padding);
    background-color: rgb(25, 25, 25);
}
.footer .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .container h2
{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: -3px;
    color: white;
}
.footer .container h2 i
{
    font-size: 15px;
    padding: 0 5px;
    transform: translate(0px, -5px);
    color: var(--main-color)
}
.footer .container h2 span
{
    color: var(--main-color);
}
.footer .footer-links
{
    display: flex;
    margin-top: 20px;
}
.footer .footer-links li
{
    margin-right: 10px;
}
.footer .footer-links li a
{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .footer-links li .facebook:hover
{
    color: #3b5998;
}
.footer .footer-links li .instagram:hover
{
    color: #bc2a8d;
}
.footer .footer-links li .twitter:hover
{
    color: #55acee;
}
.footer .footer-links li .youtube:hover
{
    color: #ff0000;
}
.footer .footer-links li .whatsapp:hover
{
    color: #128c7e;
}
.footer .copyright
{
    padding: 25px 0 ;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
.footer .copyright span
{
    color: var(--main-color);
}
/* end footer */
/* start up-btn */
.up-btn
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    bottom: 50px;
    right: -50px;
    z-index: 1;
    transition: calc(var(--main-transition) - 0.2s);
    /* opacity: 0; */
}
.up-btn i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
.up-btn:hover
{
    background-color: var(--main-color-alt);
}
@media(max-width: 767px)
{
    .up-btn
    {
        right: -50px;
        border: 0.5px solid white;
    }
}
.up-btn.show{
    right: 50px;
}
@media(max-width: 767px)
{
    .up-btn.show
    {
        right: 30px;
    }
}
/* end up-btn */
/* start loading */
.loading
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #140429;
    position: fixed;
    z-index: 100;
}
.loading .loadd
{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.loading h4
{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/* end loading */